	.page-one{
		background: #20B2AA; 
		width: 100%;
	}

	.courses-page{
		background: #FFFFFF;
		width: 100%;
	}
	.courses-page .courses-profile-title{
		color: #000000;
		padding: 25px 100px;
	    font-size: 20px;
	    font-weight: 600;
	}

	.profile-page{
		background: #20B2AA;
		padding: 25px 100px;
		width: auto;
		display: flex;
	}
	.profile-page .profile-image{
		position: relative;
	}
	.profile-image-shedow{
		position: absolute;
		background: red;
		content: "";
		top: -2.5px;
		left: -2.5px;
		height: 145px;
		width: 145px;
		border-radius: 50%;
		background: rgb(232,247,246);
		background: linear-gradient(30deg, rgba(232,247,246,1) 25%, rgba(255,221,223,1) 75%);
	}
	.profile-page .profile-image img{
		width: 140px;
		height: 140px;
		position: relative;
		z-index: 1;
		border-radius: 50%;
	}
	.profile-page .profile-infomation{
		width: 100%;
		padding: 10px 50px;
	}
	.profile-infomation .profile-nama{
		line-height: 22px;
		color: #FFFFFF;
		font-size: 20px;
		font-weight: 600;
	}
	.profile-infomation .profile-alamat{
		color: #FFFFFF;
		font-size: 15px;
		font-weight: 400;
	}
	.profile-infomation .profile-bio{
		color: #FFFFFF;
		margin-top: 10px;
		max-width: 50%;
		max-height: 55px;
		font-size: 13px;
		font-weight: 400;
		overflow: hidden;
	}
	.profile-button{
		position: relative;
	}
	.profile-button .profile-socialmedia{
		display: flex;
		justify-content: center;
	}
	.profile-socialmedia .social-item{
		background: #D0DCE3;
		color: #FFFFFF;
		display: inline-block;
		margin: 3px;
		font-size: 23px;
		text-align: center;
		padding-top: 5px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		cursor: pointer;
	}
	.profile-button .button-edit{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	@media screen and (max-width: 720px) {
		.profile-page{
			width: 100%;
			margin: 0px;
			padding: 25px;
			display: inline-block;
		}
		.profile-page .profile-image{
			text-align: center;
		}
		.profile-image-shedow{
			display: none;
		}
		.profile-page .profile-infomation{
			padding: 10px 0px;
			text-align: center;
		}
		.profile-button{
			position: initial;
		}
		.profile-infomation .profile-bio{
			max-width: none;
		}
		.profile-button .button-edit{
			top: 100px;
			right: 25px;
		}

		.courses-page .courses-profile-title{
			padding: 25px;
		}
	}

	@media screen and (min-width: 720px) and (max-width: 1200px){
		.profile-page{
			margin: 0px;
			padding: 25px;
			width: 100%;
			display: inline-block;
		}
		.profile-page .profile-image{
			text-align: center;
		}
		.profile-image-shedow{
			display: none;
		}
		.profile-page .profile-infomation{
			padding: 10px 0px;
			text-align: center;
		}
		.profile-button{
			position: initial;
		}
		.profile-infomation .profile-bio{
			max-width: none;
		}
		.profile-button .button-edit{
			top: 100px;
			right: 25px;
		}

		.courses-page .courses-profile-title{
			padding: 25px;
		}
	}